body {
  background-image: url("../../img/chart-background-img.jpg");
}

input {
  margin-top: 5px;
}

.textInput {
  border-radius: 10px;
  height: 30px;
}

fieldset {
  background-color: rgb(173, 216, 230);
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
  border-radius: 10px;
}

.center {
  margin-top: 25px;
  text-align: center;
}

label {
  font-family: cursive;
}

#submit {
  background-color: rgb(2, 117, 216);
}

.space {
  margin: 0px;
  margin-top: 150px;
  padding: 0px;
  height: 50px;
}

